<div class="ui pointing menu">
  <a *ngFor="let extensionRoute of extensionRoutes" routerLink="{{extensionRoute}}" routerLinkActive="active" class="item">{{extensionRoute ? extensionRoute : 'home'}}</a>

  <div class="right menu">
      <div class="ui item">
        <input type="text" (change)="setUploadPath($event)"/>
        <input
        webkitdirectory
        directory
        multiple
        (change)="s3upload($event)"
        type="file"
        id="fileUpload"
      />
      </div>
  </div>
</div>


<router-outlet></router-outlet>

<!-- <div *ngFor="let extension of extensionList">
  <extension-host [extension]="extension"></extension-host>
</div> -->
